body {
    margin: 0px;
  } 

  .mainButton {
    background-color: white;
    color: gold;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
  }
  
  .mainButton:hover {
    cursor: pointer;
    box-shadow: 1px 1px white;
    transform: scale(1.2);
  }
  
  .menu{
    padding-bottom: 10px;
  }

.ventas{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 8vh;
  padding: 3vh;
  background-color: #F8F1E5;
}

  td{
    border: 1px solid black;
    height: 14px;
    border-radius: 3px;
    background-color: white;  
  }
  
  th{
    border: 1px solid black;
    color: white;
    border-radius: 3px;
    background-color: #426E86;
  }

  h2{
    margin-top: 0vh;
    margin-bottom: 1.2vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: center;
    border-bottom: 0.3vh solid #2F3131;
  }

  span{
    padding-bottom: 1vh;
    font-weight: bold;
    font-size: large;
  }

  .scroll{
    overflow-y: scroll;
    height: 20vh;
    width: 100%;
  }

  table{
    width: 100%;
  }

  tr:first-child>th{
    position: sticky;
    top: 0;
}
