body {
    margin: 0px;
    background: url(../media/fondo.png);
  } 

  .menu{
    padding-bottom: 10px;
  }

.ventas{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 8vh;
  padding: 3vh;
  background-color: #F8F1E5;
}

  td{
    border: 1px solid black;
    height: 14px;
    border-radius: 3px;
    background-color: white;  
  }
  
  th{
    border: 1px solid black;
    color: white;
    border-radius: 3px;
    background-color: #426E86;
  }

  .titulo2{
    margin-top: 0vh;
    margin-bottom: 1.2vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: center;
    border-bottom: 0.3vh solid #2F3131;
  }

  span{
    padding-bottom: 1vh;
    font-weight: bold;
    font-size: large;
  }

  .scroll{
    overflow-y: scroll;
    height: 20vh;
    width: 100%;
  }

  table{
    width: 100%;
  }

  tr:first-child>th{
    position: sticky;
    top: 0;
}

.vert{
  display: flex;
  flex-direction: column;
  margin: 2vh 8vh 3vh 8vh;
}

.foto{
  width: 150px;
  border: 1px solid black;
  margin-bottom: 2vh;
  border-radius: 1vh;
}

.hor{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6vh 8vh 3vh 8vh;
  border-bottom: 0.1vh solid #2F3131;
  padding-bottom: 0vh;
}

label{
  display: grid;
  grid-template-columns: 14% 20%;
  margin-bottom: 2vh;
}

label > input{
  border-radius: 3px;
  border: 1px solid black;
  height: 4vh;
}

form > button{
  margin-left: 15vh;
  margin-top: 2.5vh;
  width: 15vh;
}

form{
  padding: 5vh 5vh 4vh 3vh;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F8F1E5;
} 

.usuario{
display:flex;
flex-direction: column;
border: 1px solid black;
border-radius: 5px;
margin: 8vh;
padding: 3vh;
background-color: #F8F1E5;
}

.logo {
  height: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: white;
}
